table {
  margin-top: 2rem;
  border:  black;
  border-collapse: collapse;
}
th, td {
  border: solid 1px black;
}

#step {
  margin-bottom: 40px;
}

#matchingResult {
  display: none;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}
